@font-face {
    font-family: 'Starjedi';
    src: url('../font/starjedi/Starjedi.ttf') format('truetype');
  }

* {
    margin: 0;
    border: 0;
    font-family: 'Starjedi', sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

ul {
  list-style: none;
}